.streamlit/secrets.toml
__pycache__/
*.py[cod]
.env
.venv
*.parquet
*.xlsx
*.csv
temp/
dados/EMPILHADO_MATRICULAS.parquet

# Excecoes - pastas de graficos
!sankey/*.html
!sankey/*.ipynb
!grafico_temporal/*.ipynb
!dados_graficos/*.ipynb
